{% extends "layout.html" %}


{% load static %}

{% block content %}
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td><a href="{% url 'remove_from_cart' item.cart_item_id %}"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="{{ item.product.images.first.image.url }}" alt="{{ item.product.title }}"></td>
                    <td>{{ item.product.title }}</td>
                    <td>
                        {% if item.product.discount %}
                            <del>{{ item.product.price }} Rs</del> {{ item.product.get_discounted_price }} Rs
                        {% else %}
                            {{ item.product.price }} Rs
                        {% endif %}
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.get_total_price }} Rs</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <section id="cart-add" class="section-p1">
        <div id="sudtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>{{ cart_subtotal }} Rs</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>{{ cart_total }} Rs</strong></td>
                </tr>
            </table>
            <a href="{% url 'check' cart_id=cart.cart_id %}"><button class="normal">Proceed to checkout</button></a>
        </div>
    </section>
{% endblock %}

