@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background-image: url('https://images.unsplash.com/photo-1517757814062-2a2c761218f8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D');
  background-size: cover; /* This ensures the image covers the entire background */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-position: center; /* This centers the image */
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
  
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  font-weight: bold;
  color: #00ff40;
}

.section-p1 {
  padding: 10px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

/* navbar */

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  background: 	#daba91;
  width: 100%;
  height: 100%;
  box-shadow: c7cdea;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
}



.dropbtn:hover{
  color: #088178;
}

li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #cd994b8f;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  padding-left: 20px;
  background-color: white;
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
}

/* Add a color to dropdown links on hover */
.dropdown-content a:hover {
  color: #088178;
}


.dropdown-content li a.active::after,
.dropdown-content li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Header Start */
#header {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  padding: 10px 80px;
  background: 	#daba91;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header a {
  font-size: 30px;
  font-weight: bold;
}

#header p {
  font-size: 15px;
  color: #000;
}

#navbar {
  display: flex;
  align-items: center;
  padding-top: 25px;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover{
  color: #088178;
}

#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}



#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home Page */
#feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.fe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.fe-box img {
  width: 130px; /* Adjust size as needed */
  height: 130px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.fe-box h6 {
  margin: 0;
  font-size: 16px; /* Adjust font size as needed */
}

.fe-box:hover {
  transform: scale(1.1); /* Adjust hover effect as needed */
}

#product1 {
  text-align: center;
}



#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2 ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: bold;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(8, 8, 8);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}



#competition {
  background-image: url("img/banner/b3.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#participants {
  /* height: 150px; */
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  box-sizing: border-box;

}

#participants .box {
  display: flex;
  align-items: center;
}

#competition .box .champion {
  width: 30%;
  min-width: 25px;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  margin: 3%;
  padding: 4px;
}

#competition .box .champion .bronze {
  background-color: #CD7F32;
}

#competition .box .champion .silver {
  background-color: #C0C0C0;
}

#competition .box .champion .gold {
  background-color: #FFD700;
}

#competition .champion img {
  width: 100px;
  padding: 5px 5px;

}

#competition .champion .des {
  text-align: start;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#competition .champion .des h5 {
  color: #606063;
  font-size: 15px;

}


#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: none;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 49%;
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box1 {
  background-image: url("img/banner/b17.jpg");
}

#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 h2 {
  color: #fff;
  font-weight: 800;
  font-size: 15px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 11px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
}

#newsletter .form {
  display: flex;
  width: 40%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.section-p2 {
  padding: 15px 80px;
  background-color: #daba91;
}

footer .copyrigth {
  width: 100%;
  -webkit-text-fill-color: #666262;
}

footer p {
  font-size: 13px;
  text-align: left;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}


footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  margin: 0 0 8px 0;
  color: #1d1d1d;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}


footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyrigth {
  width: 100%;
  text-align: center;
}

/* countdown_timer */

#countdown_timer {
  height: 150px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  box-sizing: border-box;

}

#countdown_timer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

#countdown_timer .year {
  font-size: 200px;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#countdown_timer .countdown {
  display: flex;
  align-items: center;

}

#countdown_timer .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;

  font-size: 14px;
  font-weight: 600;
  padding: 12px 25px;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}



#countdown_timer .year {
  padding-right: 50px;

}

#countdown_timer .time h2 {
  margin: 0 0 5px;
}


/* Shop Page */
#page-header {
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

.shop-header {
  background-image: url(img/banner/b1.jpg);
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
  padding: 25px;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single Product */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 0px;
}

#prodetails .single-pro-details h4 {
  padding: 10 ;
}

#prodetails .single-pro-details h2 {
  padding: 10px 0px;
  font-size: 35px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #088178;
  color: #fff;
}

/* Contact Page */


#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}


#form-details form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Cart Page */
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;

}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon button,
#sudtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}

#sudtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#sudtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#sudtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}



/* Start Media Query */
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
    top: 80px;
    left: 10px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }

  #form-details {
    padding: 30px;
  }

  #form-details form {
    width: 40%;
  }

  #form-details .people div {
    align-items: flex-end;
  }

  #contact-datails .details {
    width: 50%;
  }

  #contact-datails .details h2 {
    font-size: 27px;
  }
}

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }

  

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  .section-p1 {
    padding: 20px;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #feature {
    justify-content: space-between;
  }

  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #countdown_timer .time {
    margin: 8px;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 4px;
  }

  #countdown_timer .countdown h2 {
    font-size: 30px;
    padding: 0;
  }

  #banner h2 {
    color: #fff;
    font-size: 25px;
    padding: 10px 0;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter .form {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  footer .copyrigth {
    text-align: start;
  }

  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }

  /* Blog Page */
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* About Page */

  #about-header {
    flex-direction: column;
  }

  #about-header img {
    width: 100%;
  }

  #about-head div {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }

  /* Contact Page */

  #form-details {
    margin: 10px;
    padding: 0;
    flex-wrap: wrap;
    background-color: #04AA6D !important; 
  } 

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
}

/*checkout page */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  padding: 25px;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  border-radius: 3px;
}


label {
  margin-bottom: 10px;
  display: block;
}


.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}